#editBookmarkPanelImage, #editBookmarkPanelFaviconContainer {
    display: none !important;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 

#print-preview-toolbar,
#printedit-toolbar,
#titlebar {
  -moz-box-ordinal-group: 0 !important;
}
#navigator-toolbox #toolbar-menubar {
  -moz-box-ordinal-group: 1 !important;
}
#navigator-toolbox #nav-bar {
  -moz-box-ordinal-group: 2 !important;
}
#navigator-toolbox #PersonalToolbar {
  -moz-box-ordinal-group: 3 !important;
}
#navigator-toolbox toolbar {
  -moz-box-ordinal-group: 10 !important;
}
#navigator-toolbox #TabsToolbar {
  -moz-box-ordinal-group: 100 !important;
}
#TabsToolbar[movingtab] {
  padding-bottom: unset !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
  padding-bottom: unset !important;
  margin-bottom: unset !important;
}
#TabsToolbar[movingtab] + #nav-bar {
  margin-top: unset !important;
}

#PanelUI-menu-button {
	display: none !important;
}
#PopupAutoCompleteRichResult > richlistbox >:-moz-any(richlistitem[actiontype="searchengine"]) {
	display: none !important;
}
#PopupAutoCompleteRichResult {
	max-width: 900px !important;
}
#urlbar .urlbar-history-dropmarker {
	display: none !important;
}
#page-action-buttons #pageActionButton {
	display: none !important;
}
