#editBookmarkPanelImage, #editBookmarkPanelFaviconContainer {
  display: none !important;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
:root {
  --tab-min-height_tnot: 32px;
}

:root[uidensity=compact] {
  --tab-min-height_tnot: 28px;
}

:root[uidensity=touch] {
  --tab-min-height_tnot: 40px;
}

#TabsToolbar {
  position: absolute !important;
  display: block !important;
  bottom: 0 !important;
  width: 100vw !important;
}

#tabbrowser-tabs {
  width: 100vw !important;
}

:-moz-any(.tabs-newtab-button,#tabs-newtab-button) .toolbarbutton-icon {
  padding: 0px !important;
  margin: 0px !important;
  width: 18px !important;
  height: 18px !important;
}

#main-window:not([chromehidden*="toolbar"]) #navigator-toolbox {
  padding-bottom: calc(0px + var(--tab-min-height_tnot)) !important;
}

#urlbar .urlbar-history-dropmarker {
  display: none !important;
}

#page-action-buttons #pageActionButton {
  display: none !important;
}

.tabbrowser-tabs, #main-window[windowtype="navigator:browser"] {
  background-color: #201e1d !important;
}

.browserContainer {
  background-color: #212121 !important;
}
